<<<<<<< HEAD
body {
    background-color: lightgray;
}

#header {
    text-align: center;
    background-color: gray;
}

#options {
    background-color: gray;
}
#inputs {
    background-color:greenyellow;
}

footer {
    text-align: center;
}
=======
/* css file */
>>>>>>> 6a65fb71202173ee304eb349374e84fbf5eddae6
