
body {
    background-color: lightgray;
}

#header {
    text-align: center;
    background-color: gray;
}

#options {
    background-color: gray;
}
#inputs {
    background-color:greenyellow;
}

footer {
    text-align: center;
};